<!-- MASTHEAD -->
<p class="slds-text-heading--label slds-m-bottom--small">Career College of California</p>
<!-- / MASTHEAD -->
<div class="slds-container--small slds-container--center login-container">
	<div class="slds-card">
	  <div class="slds-card__header slds-grid">
	    <div class="slds-media slds-media--center slds-has-flexi-truncate">
	      <div class="slds-media__figure">
	        <svg aria-hidden="true" class="slds-icon slds-icon-standard-user slds-icon--small">
	          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
	        </svg>
	      </div>
	      <div class="slds-media__body">
	        <h2 class="slds-text-heading--small slds-truncate">Login</h2>
	      </div>
	    </div>
	  </div>
	  <div class="slds-card__body slds-container--center slds-m-bottom--large">
			<div>
				<div class="slds-media__figure">
				  <img src="/ccclogo.png" class="loginprofile" alt="ccc logo" />
			</div>
			</div>
			<div class="slds-col--padded-large slds-m-bottom--xx-large slds-m-top--xx-large">
				<p>Login access is based on your school email address, the one ending in <strong>@mailccc.com</strong>.<p>
				<p>Make sure you aren't logged in to any other gmail accounts and then click the login button below.<p>
				<p>You won't have to enter a user name or password - just grant permission to be authenicated through your school gmail account.</p>
				<p>Log out of all other gmail accounts before attempting to log in.</p><br><br>
				<a href="/auth/google" class="slds-button slds-button--brand slds-button--fullwidth">Login</a>
			</div>
			<div class="slds-col--padded-large slds-m-top--medium">
				<p>If you've forgotten your school gmail account name or password or have any other trouble logging in, send an email to <a href="mailto:info@careercalifornia.edu" >info@careercalifornia.edu</a> and we'll get you sorted out right away.</p>
			</div>
	  </div>
	</div>
</div>

